<blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non earum
        dolorum animi natus, molestias et corporis temporibus, doloribus eius
        quibusdam rerum, dolor a fugit sint. Ullam reiciendis atque dignissimos,
        quibusdam vel itaque dolorem est sed repellat. Deserunt ipsum delectus
        ex rerum nostrum molestiae neque sequi tempore iusto, alias id enim.
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Jhon Smith</h3>
            <p class="quote__organization">ABC Company</p>
          </div>
        </div>
      </footer>
    </blockquote>