<div class="card testimonial">
  <grid class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="images/testimonial.jpg" alt="A happy Customer" />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--samll">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>

    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non earum
        dolorum animi natus, molestias et corporis temporibus, doloribus eius
        quibusdam rerum, dolor a fugit sint. Ullam reiciendis atque dignissimos.
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Jhon Smith</h3>
            <p class="quote__organization">ABC Company</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </grid>
</div>
